*.swp
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
joycond
install_manifest.txt
.ccls-cache
build
compile_commands.json
debian/*
!debian/source
!debian/changelog
!debian/control
!debian/copyright
!debian/rules
!debian/postinst