[Unit]
Description=joycond
After=network.target

[Service]
ExecStart=/usr/bin/joycond
Restart=always

DeviceAllow=char-input
DeviceAllow=/dev/uinput
DevicePolicy=closed
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectClock=yes
PrivateTmp=yes
ProtectHome=yes
ProtectHostname=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectProc=noaccess
ProtectSystem=strict
RestrictAddressFamilies=AF_NETLINK
RestrictNetworkInterfaces=
RestrictRealtime=yes
RestrictSUIDSGID=yes
SocketBindDeny=any

[Install]
WantedBy=multi-user.target
