ACTION!="add", GOTO="joycond_end"
SUBSYSTEM!="input", GOTO="joycond_end"
KERNEL!="event*", GOTO="joycond_end"
KERNELS=="*057E:2009*", TAG-="uaccess"
KERNELS=="*057E:2006*", TAG-="uaccess"
KERNELS=="*057E:2007*", TAG-="uaccess"

LABEL="joycond_end"
